# Binaries
swiftpaxos
swiftpaxos-dist
swiftpaxos-norace
swiftpaxos-race
*.exe
*.out
bin/

# System files
.apas
.DS_Store
*.swp
*.swo

# IDE files
.idea/
.vscode/
*.iml
results/

# Python venv
.venv/

# TLA+ tools (downloaded at runtime)
tla/tla2tools.jar
tla/states/
tla/*_TTrace_*
